<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="refactory.burhan.androidkotlin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".navigationdrawer.NavigationActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".tablayoutviewpager.TabLayoutActivity">

        </activity>
        <activity android:name=".fragment.FragmentActivity">

        </activity>
        <activity android:name=".recyclerview.RecyclerviewActivity">

        </activity>
        <activity android:name=".cardview.CardviewActivity">

        </activity>
        <activity android:name=".activityintent.AcIntentActivity" />
        <activity android:name=".hellorefactory.HelloRefactoryActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>